/* Master stylesheet */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 1400px;
  margin: 0;
  /*Not sure one correct size of page, so I'm doing this because it looks correct on my screens */
}

h4,
h2 {
  margin: 10px;
}

a {
  color: white;
  margin: 10px;
}

a:hover {
  color: blue;
}

/* Header stylesheet */

header {
  display: flex;
  height: 69px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
}

.header-image {
  height: 50px;
}

/* Body stylesheet */

.content {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;

}

.main-image {
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.ribbon-text {
  display: flex;
  flex-direction: column;
  width: 1200px;
  background-color: black;
  height: 100px;
}

/* Tea of the month section */

.tea-of-the-month {
  margin-top: 20px;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}

.tea-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tea-test {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  width: 1000px;
}

.individual-tea-images{
  width: 300px;
  height: 200px;
  margin: 20px 15px;
}

.myrtle-ave-tea {
/* padding-left: 175px; */
}

.bedford-bizzare-tea {
  /* padding-right: 175px; */
}

/* Locations Section */

.locations {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex-wrap: wrap;
  background-image: url("./images/img-locations-background.jpg");
  margin-top: 50px;
}

.locations-headline {
  margin: auto;
}

.location-subsection {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  margin: 15px 20px;
  flex-wrap: wrap;
  opacity: 1;
  background-color: black;
}

.location-subsection h3 {
  margin: 5px 5px 0;
}

.location-subsection h4 {
  margin: 0 5px 5px;
}

/* footer section */

footer {
  margin-top: 15px;
}

.main-footer {
  height: 200px;
  text-align: center;
}

.footer-copyright {
  margin: 0 20px;
  text-align: left;
}
