/* Master stylesheet */

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 100%;
}

h2 {
  margin: auto;
}

h4 {
  margin: auto;
}
/* Header stylesheet */

header {
  display: flex;
  height: 69px;
  width: 1300px;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  /* position: fixed; */
  align-items: center;
  flex-grow: 1;
}

.header-image {
  margin-left: 10px;
  height: 50px;
}

nav span {
  text-decoration: underline;
  flex-grow: 1;
}

/* Body stylesheet */

.content {
  width: 1200px;
  margin-left: 5%;
  text-align: center;
}

.main-image {
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ribbon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1200px;
  background-color: black;
  height: 150px;
  margin: 129px 0;
}

/* Tea of the month section */

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1000px;
  margin: auto;
}

.headline h2 {
  margin: 15px;
}

.tea-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tea-test {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
  width: 1000px;
}

.individual-tea-images{
  width: 300px;
  height: 200px;
  margin: 10px;
}

/* Locations Section */

.locations {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex-wrap: wrap;
  background-image: url("./images/img-locations-background.jpg");
  margin-top: 50px;
}

.locations-headline {
  margin: auto;
}

.location-subsection {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  justify-content: space-around;
  margin: 15px 20px;
  flex-wrap: wrap;
  opacity: 1;
  background-color: black;
}
